/* Hide scrollbar for Webkit browsers (Chrome, Safari) */
.scrollbar-hidden::-webkit-scrollbar {
   display: none;
 }
 
 /* Hide scrollbar for Firefox */
 .scrollbar-hidden {
   -ms-overflow-style: none;  /* Hide scrollbar in IE & Edge */
   scrollbar-width: none;  /* Hide scrollbar in Firefox */
 }
 